
@media (max-width: 1199px) {
    .banner-content h1 {
        font-size: 44px;
    }   
    
    .like-content h2 {
        font-size: 28px;
    }
}



@media (max-width: 1024px) {
    
    .banner{
        min-height: 432px;
    }
    
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content h6{
        font-size: 12px;
    }
    .banner-content p{
        font-size: 16px;
    }
    .btn-custom{
    }
    .btn-custom-one{

    }
    .future-content h6 {
        font-size: 13px;
    }
    .future-content h1 {
        font-size: 30px;
        margin: 20px 0;
    } 
    .future-content h1::after {
        right: 51%;
        height: 3px;
        width: 35px;
    }
    .future-content h1::before {
        left: 51%;
        height: 3px;
        width: 35px;
    }
    
    .super-content h1 {
        font-size: 33px;
    }
    
    .super-hg {
        min-height: 463px;
    }
    .like-content h2 {
        font-size: 28px;
    }
    .like-btn-custom {
        font-size: 14px;
    }
    .download-btn-custom {
        font-size: 14px;
    }
    
    .contact-content h1::before {
        left: 46%;
        transform: translateX(40%);
    }
    .contact-content h1::after {
        right: 46%;
        transform: translateX(14%);
    }
}



@media (max-width: 991px) {
    .banner-content h1 {
        font-size: 32px;
    }
    .beautiful-content h1 {
        font-size: 29px;
    }
    .beautiful-content p {
        font-size: 16px;
    }
    .super-content h1 {
        font-size: 30px;
    }
    .super-content p {
        font-size: 16px;
    }
    .like-content h2 {
        font-size: 20px;
    }
    .like-btn-custom {
        font-size: 12px;
    }
    .download-btn-custom {
        font-size: 12px;
    }
    .pricings-content p {
        font-size: 16px;
    }
}



@media (max-width: 768px) {
    header{
        min-height: 68vh;
    }
    
    .banner{
        min-height: 340px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
    }
    .banner-content h1{
        font-size: 29px;
        margin: 20px 0;
    }
    .banner-content h6{
        font-size: 13px;
    }
    .banner-content p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .btn-custom{
        font-size: 14px;
    }
    .btn-custom-one{
        font-size: 14px;
    }
    .menu .menu-item::before{
        left: 3%;
    }
    .menu .menu-item:hover::before{
        width: 3%;
        left: 0;
    }
    
    .menu .menu-item::after{
        left: 4%;
        width: 0;
    }
    .menu .menu-item:hover::after{
        width: 3%;
        right: 0;
    }

    .future-content h6 {
        font-size: 13px;
    }
    .future-content h1 {
        font-size: 30px;
        margin: 20px 0;
    } 
    
    .symple h4 {
        font-size: 22px;
    }
    .symple p {
        font-size: 14px;
    }
    .beautiful-content h1 {
        font-size: 28px;
        padding: 15px 0 25px;
    }    

    .beautiful-content p {
        font-size: 15px;
        margin-top: 25px;
    }
    .beautiful-icon p {
        font-size: 14px;        
        margin: 5px 0;
    }
    .beautiful-icon {
        margin-top: 20px;
    }
    
    .like-content h2 {
        font-size: 20px;
    }
    .like-btn-custom {
        font-size: 12px;
    }
    .download-btn-custom {
        font-size: 12px;
    }  
    .super-hg {
        min-height: 347px;
    }
    .super-content h6 {
        font-size: 12px;
    }  
    .super-content h1 {
        font-size: 25px;
    }
    .super-content h1::after {
        right: 75%;
    }
    .super-content p {
        font-size: 15px;

    }
    .pricings-header h1 {
        font-size: 33px;
    }
    
    .pricings-rate {
        height: 120px;
    }
    .pricings-content {
        height: 200px;
    }
    .pricings-content p {
        font-size: 15px;
    }
    .btn-pricings {
        font-size: 12px;
    }
    
    .contact-add p {
        font-size: 13px;
    }
    .feedback-part {
        min-height: 280px;
    }
    .email-part {
        margin: 30px 0px 0 20px;
    }
    .write-message {
        margin: 30px 20px 0 0px;
    }
    .email-part form input {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .custom-textarea {
        font-size: 14px;
    }
    .send-btn-custom {
        font-size: 14px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    
}


@media (max-width: 767px){
    .banner-content h1 {
        width: 58%;
    }   
    
    .like-content {
        text-align: center;
    }
    .like-btn-custom {
        font-size: 8px;
    }
    .download-btn-custom {
        font-size: 8px;
    }
    .carousel-btn{
        margin: auto;
    }
    .beautiful img {
        display: none;
    }
    .email-part {
        margin: 15px 15px 0 15px;
    }
    .form-custom {
        margin-bottom: 15px;
    }
    .write-message {
        margin: 15px 15px 0 15px;
    }
}


@media (max-width: 575px){
    
    .like-btn-custom {
        font-size: 8px;
    }
    .download-btn-custom {
        font-size: 8px;
    }
    .carousel-btn{
        margin: auto;
    }
    .like-btn {
        text-align: center;
        float: none;
    }
    
}






@media (max-width: 425px) {
    header{
        min-height: 40vh;
    }
    .nav-im-custom img {
        width: 95px;
    }
    
    
    .pricings-head h3 {
        font-size: 18px;
    }
    .pricings-rate h1 {
        font-size: 30px;
    }
    footer {
        min-height: 100px;
    }
    .banner{
        min-height: 217px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }

    span.navbar {
        padding: 0;
    }
    i.fas.fa-sliders-h.toggle {
        font-size: 20px;
    }
    a.navbar-brand {
        font-size: 14px;
    }
    .banner-content {
        margin-bottom: 15px;
    }
    .banner-content h1{
        font-size: 30px;
        margin: 10px 0;
        width: 100%;
    }
    .banner-content h6{
        font-size: 12px;
    }
    .banner-content p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .btn-custom{
        font-size: 11px;
    }
    .btn-custom-one{
        font-size: 12px;
    }
       
    .menu .menu-item::after{
        left: 6%;
        width: 0;
    }
    .menu .menu-item:hover::after{
        width: 4%;
        right: 0;
    }
    .future-content h6 {
        font-size: 13px;
    }
    .future-content h1 {
        font-size: 30px;
        margin: 20px 0;
    } 
    .icon-box {
        height: 80px;
        width: 80px;
        font-size: 30px;
        line-height: 80px;
    }
    .like-content h2 {
        font-size: 21px;
        text-align: center;
    }
    .like-btn {
        text-align: center;
        float: none;
    }
    .pricings-header h1 {
        font-size: 33px;
        margin: 20px 0 25px;
    }
    .pricings-rate {
        height: 100px;
    }
    .pricings-content {
        height: 190px;
    }
    .pricings-content p {
        font-size: 16px;
    }
    .btn-pricings {
        font-size: 12px;
    }
    .super-hg {
        min-height: 320px;
    }
    .super {
        min-height: 55vh;
    }
    .super-content p {
        font-size: 16px;
    }
    .super-content h1 {
        font-size: 33px;
    }
    .contact-content h6 {
        font-size: 10px;
    }
    .contact-content h1 {
        font-size: 30px;
        margin: 16px 0;
    }
    .contact-add p {
        color: #a6a6a6;
        font-size: 11px;
    }
    .contact-icon i {
        font-size: 30px;
    }
    .contact {
        min-height: 560px;
    }
    .contact-icon {
        padding-bottom: 5px;
    }
    .send-btn-custom {
        font-size: 8px;
        margin: 10px 0 10px;
    }
    .feedback-part {
        min-height: 265px;
    }
    .feedback-part {
        top: 63%;
    }
    .email-part {
        margin: 20px 0px 0 -2px;
    }
    .email-part form input {
        margin-bottom: 0px;
    }
    .write-message {
        margin: 0;
    }
    .form-custom {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .custom-textarea {
        height: 70px;
        font-size: 12px;
    }
    .social-share a {
        font-size: 18px;
    }
    .footer-text p {
        font-size: 12px;
    }
}



@media (max-width: 419px) {
    .pricings-content p {
        font-size: 15px;
    }
}



@media (max-width: 375px) {
    header{
        min-height: 47vh;
    }
    .nav-im-custom img {
        width: 90px;
    }
    
    .banner{
        min-height: 214px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 13px;
    }

    span.navbar {
        padding: 0;
    }
    i.fas.fa-sliders-h.toggle {
        font-size: 17px;
    }
    a.navbar-brand {
        font-size: 12px;
    }
    .banner-content h1{
        font-size: 26px;
    }
    .banner-content h6{
        font-size: 11px;
    }
    .banner-content p{
        font-size: 13px;
    }
    .btn-custom{
        font-size: 10px;
    }
    .btn-custom-one{
        font-size: 10px;
    }
    .menu .menu-item::before{
        left: 5%;
    }
    .menu .menu-item:hover::before{
        width: 6%;
        left: 0;
    }
    
    .menu .menu-item::after{
        left: 7%;
        width: 0;
    }
    .menu .menu-item:hover::after{
        width: 5%;
        right: 0;
    }
    .future-content h6 {
        font-size: 12px;
    }
    .future-content h1 {
        font-size: 28px;
        margin: 15px 0;
    } 
    .icon-box {
        height: 80px;
        width: 80px;
        font-size: 30px;
        line-height: 80px;
    }
    .super-content h1 {
        padding: 5px 0 15px;
        font-size: 30px;
    }
    .super-content p {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .super-hg {
        min-height: 215px;
    }
    .super {
        min-height: 37vh;
    }
    .like-content h2 {
        font-size: 18px;
        text-align: center;
    }
    .email-part {
        margin: 20px 0px 0 -2px;
    }
    .write-message {
        margin: 0;
    }
    .form-custom {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .custom-textarea {
        height: 70px;
        font-size: 12px;
    }
    .pricings-header h1 {
        font-size: 30px;
    }
    .pricings-rate {
        height: 100px;
    }
    .pricings-content {
        height: 200px;
    }
    .pricings-content p {
        font-size: 14px;
    }
    .btn-pricings {
        font-size: 10px;
    }
    .contact-content h6 {
        font-size: 10px;
    }
    .contact-content h1 {
        font-size: 30px;
        margin: 16px 0;
    }
    .contact-add p {
        color: #a6a6a6;
        font-size: 10px;
    }
    .contact-icon i {
        font-size: 30px;
    }
    .contact {
        min-height: 560px;
    }
    .contact-icon {
        padding-bottom: 5px;
    }
    .send-btn-custom {
        margin-right: 0;
        margin-top: 10px;
        font-size: 8px;
    }
    .feedback-part {
        min-height: 265px;
    }
    .social-share a {
        font-size: 16px;
    }
    .footer-text p {
        font-size: 11px;
    }
}
@media (max-width: 320px) {
    header{
        min-height: 42vh;
    }
    .nav-im-custom img {
        width: 80px;
    }
    
    .banner{
        min-height: 177px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }

    span.navbar {
        padding: 0;
    }
    
    a.navbar-brand {
        font-size: 10px;
    }
    .banner-content h1{
        font-size: 22px;
        margin: 6px 0;
    }
    .banner-content h6{
        font-size: 10px;
    }
    .banner-content p{
        font-size: 12px;
        margin: 0;
    }
    .btn-custom{
        font-size: 8px;
    }
    .btn-custom-one{
        font-size: 8px;
    }
    .menu .menu-item::before{
        left: 5%;
    }
    .menu .menu-item:hover::before{
        width: 5%;
        left: 0;
    }
    
    .menu .menu-item::after{
        left: 7%;
        width: 0;
    }
    .menu .menu-item:hover::after{
        width: 5%;
        right: 0;
    }
    .future-content h6 {
        font-size: 10px;
    }
    .future-content h1 {
        font-size: 25px;
        margin: 15px 0;
    } 
    .symple h4 {
        font-size: 18px;
    }
    .symple p {
        font-size: 12px;
    }
    .icon-box {
        height: 80px;
        width: 80px;
        font-size: 30px;
        line-height: 80px;
    }
    .beautiful-content h1 {
        font-size: 25px;
        padding: 5px 0 15px;
    }
    
    .beautiful-content p {
        font-size: 12px;       
    }
    .contact-content h6 {
        font-size: 10px;
    }
    .contact-content h1 {
        font-size: 30px;
        margin: 16px 0;
    }
    .contact-add p {
        color: #a6a6a6;
        font-size: 9px;
    }
    .contact-icon i {
        font-size: 30px;
    }
    .contact {
        min-height: 560px;
    }
    .contact-icon {
        padding-bottom: 5px;
    }
    .pricings-content p {
        font-size: 12px;
    }
    .btn-pricings {
        font-size: 10px;
    }
    .pricings-rate h1 {

    }
    .pricings-head h3 {
        
    }
    .pricings-header h1 {
        font-size: 30px;
    }
    .super-content h1 {
        font-size: 25px;
        padding: 10px 0 20px;
    }
    .super-content p {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .super-hg {
        min-height: 260px;
    }
    .super {
        min-height: 45vh;
    }
    .send-btn-custom {
        margin-right: 0;
        margin-top: 10px;
        font-size: 8px;
    }
    .feedback-part {
        min-height: 265px;
    }
    .download-btn-custom {
        font-size: 8px;
    }
    .like-btn-custom {
        font-size: 8px;
    }
    .pricings-head {
        height: 60px;
    }
    .pricings-rate {
        height: 100px;
    }
    .pricings-content {
        height: 170px;
    }
    .social-share a {
        font-size: 14px;
    }
    .footer-text p {
        font-size: 10px;
    }
}




@media (max-width: 767px){
    .carousel-con-header-text h1 {
        font-size: 30px;
    }
    .carousel-con-part h6 {
        font-size: 14px;
    }
    .carousel-con-logo span img {
        width: 50px;
    }
    .write-message textarea {
        height: 100px;
    }
   
}
@media (max-width: 575px){
    
   
}
@media (max-width: 485px){ 
    .carousel-con-logo p {
        font-size: 13px;
        margin-left: 60px;
    }   
    .carousel-con-part h6 {
        font-size: 13px;
    }
    .carousel-con-logo span img {
        width: 50px;
    }
    .carousel-con-logo h6{       
        margin-left: 60px;
    }
}
@media (max-width: 425px){
    
   
}
@media (max-width: 375px){
    .carousel-con-part h6 {
        font-size: 10px;
    }
    .carousel-con-logo p {
        font-size: 11px;
    }
    .carousel-con-logo span img {
        width: 40px;
    }
    .carousel-con-logo p {
        margin-left: 50px;
    }
    .carousel-con-logo h6{
       
        margin-left: 50px;
    }
   
}
@media (max-width: 320px){
    .carousel-con-part h6 {
        font-size: 8px;
        /* margin-left: 37px; */
    }
    .carousel-con-logo span img {
        width: 30px;
    }
    .carousel-con-logo p {
        margin-left: 35px;
        font-size: 10px;
    }
    .carousel-con-logo h6{       
        margin-left: 35px;
    }
   
}



